// 用户信息页面样式
.user {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  //background-image: url("~@/assets/images/background1.jpg");


  // 用户信息卡片
  .user-card {
    height: 100%;
    padding: 0;

    // 用户信息面板
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: #009fcc;
      background-image: url("~@/assets/images/background1.jpg");

      color: white;

      .user-img {
        width: 150px;
        height: 150px;
        border-radius:75px;
      }
    }

    // 用户图书信息面板
    .user-book {
      border: 2px solid #ffddaa;
      height: 100%;

      .title {
        //background-color:#009fcc;
        text-align: center;
        font-size: 24px;
        height: 32px;
      }

      .book-table {
        height: calc(100% - 80px);
      }
    }
  }
}
